.App {
  background-image: url('./abstract.png');
  text-align: center;
}

.section {
  padding: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-container>div {
  max-width: 450px;
  height: 350px;
  margin: 15px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

.Welcome {
  background-color: #293E72;
  color: white;
  padding-left: 75px;
  padding-right: 75px;
}

.Projects {
  background-color: #FFD570;
}

.Blog {
  background-color: #469DD0;
}

.Teaching {
  background-color: #50DBC0;
}

ul {
  list-style-type: none;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*border: 1px solid #e7e7e7;*/
  background-color: #f1f1f1;
}

li {
  float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #50DBC0;
    color: #16223C;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
