.App {
  background-image: url('./wormz.png');
  text-align: center;
}

h1, h2, h3 {
  font-family: "Montserrat";
  font-weight: 100;
}

.section {
  padding: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-container>div {
  max-width: 450px;
  height: 350px;
  margin: 15px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

.Welcome {
  display: flex;
  background-color: #FFF;
  height: 100vh;
  padding-left: 75px;
  padding-right: 75px;
  align-items: center;
  /*text-align: center;*/
  justify-content: center;
}

.main-pic {
  border-radius: 50%;
  width: 30vw;
  padding: 20px;
}

.welcome-intro {
  font-family: "Raleway";
  font-weight: 100;
}

.welcome-intro strong {
  font-weight: 900;
}

.Work {
  background-color: #FFF;
}

.Blog {
  background-color: #FFF;
}

.Teaching {
  background-color: #FFF;
}

.NavBar {
  list-style-type: none;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  /*border: 1px solid #e7e7e7;*/
  background-color: #f1f1f1;
}

.nav-item {
  font-family: "Montserrat";
  font-weight: 300;
  float: right;
}

.nav-last {
  margin-right: 60px;
}

.nav-name {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 36px;
  display: block;
  margin-left: 60px;
  color: #666;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  float: left;
}

.nav-link {
  display: block;
  color: #666;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.nav-link:hover:not(.active) {
  background-color: #A9F5F2;
  color: #16223C;
}

.nav-link.active {
  color: white;
  background-color: #4CAF50;
}
